<div>
    <div class="contact-us">
        <div class="contactus-bgimg listing-img-common">
            <img src="img/contactus/contactus-banner.jpg" alt="Banner Image" class="img-responsive">
        </div>
        <div class="container">
            <div class="contactus-content">
                <div class="enquiry-form-pdd">
                    <div class="enquiry-form-shadow">
                        <div class="enquiry-form">
                            <h3 class="tab-title text-center">ENQUIRY FORM
                            </h3>
                            <form class="customized-form">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" placeholder="Full Name" class="form-control" ng-model="userDetails.data.firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email Address" class="form-control"
                                                ng-model="userDetails.data.email">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="number" placeholder="Mobile" class="form-control" ng-model="userDetails.data.mobile">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" id="comment" placeholder="Enquiry"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <p><button class="btn send--btn btn-block">SEND</button></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="contactus-details text-center">
                    <div>
                        <h3 class="tab-title ">CALL US</h3>
                        <p>lorem Ipsum</p>
                    </div>

                    <div class="head-office">
                        <h3 class="tab-title ">HEAD OFFICE
                        </h3>
                        <address>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </address>
                    </div>
                    <div>
                        <h3 class="tab-title ">TIMINGS
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>