<section>
    <div class="cloth-cat">
        <flex-slider flex-slide="cloth in clothCat track by $index" prev-text="" next-text="" animation="slide">
            <li>
                <div class=" cloth-cat__banner-detail relate">
                    <a href="{{cloth.extLink}}" target="_blank">
                        <img ng-src="{{cloth.image}}" alt="" class="img-responsive">
                    </a>
                </div>
            </li>
            <div class="custom-flex-nav">
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#"></a></li>
                </ul>
            </div>
        </flex-slider>
    </div>
</section>
<!--start of All Categorie-->
<section>
    <div class="all-categorie">
        <ul class="list-inline list-unstyled">
            <li class="all-categorie__dimension" ng-repeat="HomePageBlock in HomePageBlocks">
                <div class="padd">
                    <a ui-sref="{{HomePageBlock.extLink}}" target="_blank">
                        <img ng-src="{{HomePageBlock.imgLink}}" alt="" class="img-responsive">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--End of All Categorie-->
<!--start of new arrivals-->
<section class="new-arrival">
    <div class="new-arrival__title text-center ">
        <h1 class="text-uppercase new-arrival--border--line homepg-title">new arrivals</h1>
    </div>
    <div class="new-arrival__img">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3  padd-rt0">
                    <div class="new-arrival__slider">
                        <flex-slider flex-slide="newArrival in newArrivals track by $index" prev-text="" next-text=""
                            animation="slide" item-width="220" item-margin="20" min-items="3">
                            <li>
                                <div class=" new-arrival__banner-detail ">
                                    <div class="relate">
                                        <img ng-src="{{newArrival.image}}" alt="" class="img-responsive">
                                        <div class="featured__icon-cart">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                        <div class="featured__icon-heart">
                                            <i ng-class="checkWishlist(newArrival.productId)" aria-hidden="true"
                                                ng-click="addRemoveToWishlist(newArrival)"></i>
                                        </div>
                                    </div>
                                    <div class="get-left">
                                        <h3 class="homepg-slider-product-cost"><i class="fa fa-inr" aria-hidden="true"></i>{{newArrival.price
                                            |number:0}}</h3>
                                        <p class="homepg-slider-product-name txt-white text-capitalize  ">{{newArrival.productName}}</p>
                                        <div class="abslt-buynow-btn">
                                            <buttton class="btn btn-white buynow--btn btn--mob-modal text-uppercase"
                                                ui-sref="individual-page({id: newArrival.productId})">buy</buttton>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </flex-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of new arrivals-->
<!--start of Featured Cloth section-->
<section>
    <div class="featured relate">
        <div class="container">
            <div class="row">
                <div class="featured__title text-center">
                    <h1 class="homepg-title text-uppercase featured--border--line">featured</h1>
                </div>
            </div>
            <div class="featured__slider">
                <flex-slider flex-slide="new in featured track by $index" prev-text="" next-text="" animation="slide"
                    item-width="260" item-margin="25" min-items="3">
                    <li class="relate">
                        <div class="featured__banner-detail relate">
                            <img ng-src="{{new.image}}" alt="" class="img-responsive" ui-sref="individual-page({id: new.productId})">
                            <div class="featured__cloth-desc">
                                <h3 class="homepg-slider-product-cost"><i class="fa fa-inr" aria-hidden="true"></i>{{new.price
                                    |number:0}}</h3>
                                <p class="homepg-slider-product-name text-capitalize">{{new.productName}}</p>
                            </div>
                            <div class="featured__icon-heart">
                                <i ng-class="checkWishlist(new.productId)" aria-hidden="true" ng-click="addRemoveToWishlist(new)"></i>
                            </div>
                            <div class="featured__icon-cart">
                                <i class="fa fa-shopping-cart" aria-hidden="true" data-toggle="tooltip" title="Added to cart"></i>
                            </div>
                            <div class="abslt-buynow-btn">
                                <buttton class="btn buy--btn btn--mob-modal text-uppercase" ui-sref="individual-page({id: new.productId})">buy</buttton>
                            </div>
                        </div>
                    </li>
                </flex-slider>
                <div class="viewmore-btn text-center">
                    <button class="btn text-uppercase view--more" ui-sref="listing-page">view more</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Featured Cloth section-->
<!--Start of Buy the Look section-->
<section>
    <div class="cloth-buy relate">
        <div class="container">
            <div class="row">
                <div class="col-md-7 paddrt hidden-sm hidden-xs">
                    <img ng-src="{{getthelook.majorImage}}" alt="" class="img-responsive">
                </div>
                <div class="col-md-5 col-sm-12 paddlt">
                    <div class="cloth-buy__title text-center">
                        <h1 class="homepg-title text-uppercase cloth-buy--border--line">buy the look</h1>
                    </div>
                    <div class="cloth-buy__desc relate">
                        <h2 class="mg-top-zero text-capitalize">{{getthelook.title}}</h2>
                        <p class="line--height">{{getthelook.description}}
                        </p>
                        <p>
                            <button class="btn text-uppercase btn--mob-modal buy--now" ui-sref="buythelook({id: getthelook._id})">buy
                                now</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Buy the Look section-->
<!--Start of Blog section-->
<article>
    <div class="blog">
        <div class="container">
            <div class="blog__title text-center">
                <h1 class="homepg-title text-uppercase blog--border--line">blogs</h1>
            </div>
            <div class="blog__slider">
                <flex-slider flex-slide="blog in blogs track by $index" prev-text="" next-text="" animation="slide"
                    item-width="400" min-items="3">
                    <li class="relate">
                        <article class="blog__banner-detail relate mar-right">
                            <a ui-sref="inner-blogs({id:blog._id})"> <img ng-src="{{blog.image}}" alt="" class="img-responsive"></a>

                            <div class="blog__desc">
                                <h3 class="text-uppercase">{{blog.name}}</h3>
                                <p class="typedin-desc line--height">{{blog.description}}</p>
                                <p class="relate extra-content"><a ui-sref="inner-blogs({id:blog._id})">Read more</a></p>
                            </div>
                        </article>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
</article>
<!--End of Blog section-->
<!--Start of Sale section-->
<section>
    <div class="sale relate">
        <div class="container">
            <div class="sale__title text-center">
                <h1 class="homepg-title text-uppercase sale--border--line">sale</h1>
            </div>
            <div class="sale__slider">
                <flex-slider flex-slide="new in sale track by $index" prev-text="" next-text="" animation="slide"
                    item-width="215" item-margin="25" min-items="3">
                    <li class="relate">
                        <div class="sale__banner-detail relate">
                            <img ng-src="{{new.image}}" alt="" class="img-responsive">
                            <div class="sale__cloth-desc">
                                <p class="text-capitalize">{{new.productName}}</p>
                                <h3 class="btm-mar"><i class="fa fa-inr" aria-hidden="true"></i>{{new.price |number:0}}</h3>
                                <div class="abslt-buynow-btn">
                                    <buttton class="btn buy--btn btn--mob-modal text-uppercase" ui-sref="individual-page({id: new.productId})">View</buttton>
                                </div>
                            </div>

                        </div>
                    </li>
                </flex-slider>
                <div>
                    <p class="text-center">
                        <button class="btn text-uppercase view--more" ui-sref="listing-page">view more</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="absolute hidden-sm hidden-xs">
            <img src="../img/home/Individual_Product Page.png" alt="img" class="img-responsive">
        </div>
    </div>
</section>
<!--End of Sale section-->