<div class="footer-up relate">
    <div class="container">
        <div class="row">
            <div class="flex-item-container">
                <div class="flex-item footer-up__abt-shop">
                    <div>
                        <h5>ABOUT THE SHOP</h5>
                        <p class="line--height">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's
                        </p>
                        <a href="" ui-sref="about" class="underline">Read More</a>
                    </div>
                    <div>
                        <h5>OPENING TIME</h5>
                        <p>
                            Lorem Ipsum is simply dummy text <br>lorem Ipsum
                        </p>
                    </div>
                </div>
                <div class="flex-item footer-up__cstmr-serv">
                    <h5>CUSTOMER SERVICE</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a ui-sref="contactus">Contact Us</a>
                        </li>
                        <!-- <li>
                    <a>Returns</a>
                </li>
                <li>
                    <a>Site Map</a>
                </li>
                <li>
                    <a>Tell a Friend</a>
                </li> -->
                        <li>
                            <a ui-sref="brands">Brands</a>
                        </li>
                        <li>
                            <a href="">Gift Vouchers</a>
                        </li>
                        <!-- <li>
                    <a>Affiliates</a>
                </li> -->

                    </ul>
                </div>
                <div class="flex-item footer-up__info">
                    <h5>INFORMATION</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a ui-sref="about">About Us</a>
                        </li>
                        <li>
                            <a ui-sref="blogs">Blogs</a>
                        </li>
                        <li>
                            <a href=""> Order Policy</a>
                        </li>
                        <li>
                            <a href="">Payment Policy</a>
                        </li>
                        <li>
                            <a href=""> Shipping & Retunrs</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Terms & Conditions</a>
                        </li>

                    </ul>
                </div>
                <div class="flex-item footer-up__my-account">
                    <h5>MY ACCOUNT</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a ui-sref="myaccount">My Account</a>
                        </li>
                        <li>
                            <a ui-sref="myaccount({view: 'orderTab'})">Order History</a>
                        </li>
                        <li>
                            <a ui-sref="myaccount({view: 'wishlistTab'})">Wish List</a>
                        </li>
                        <!-- <li>
                    <a>Newsletter</a>
                </li>
                <li>
                    <a>Track Order</a>
                </li>
                <li>
                    <a>Specials</a>
                </li> -->
                    </ul>
                </div>
                <div class="flex-item footer-up__contact">
                    <h5>CONTACT</h5>
                    <address>
                        <ul class="address-list list-unstyled">
                            <li> Lorem Ipsum is simply dummy</li>
                            <li>text of the printing and</li>
                            <li>typesetting industry.</li>
                            <li>Lorem Ipsum</li>
                            <li> Lorem Ipsum is simply</li>
                            <li><a href="">trade@maroswag.com</a></li>
                        </ul>
                    </address>
                    <p>
                        <button class="btn contact--btn bg-black ">Call us: Lorem<br>Ipsum</button>
                    </p>
                </div>
                <div class="footer-up__img">
                    <img src="../img/home/20.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>